<footer>
  <div class="mx-auto w-full container p-4 sm:p-6">
    <hr class="my-6 border-mainPurple sm:mx-auto lg:my-8" />
    <div class="flex items-center justify-between">
      <span
        class="text-sm text-gray-500 sm:text-center dark:text-gray-400 hidden phoneL:block w-44"
      >
        ©alyssondiamantino@gmail.com
      </span>
      <div>
        
        <span
          class="text-sm text-gray-500 text-center dark:text-gray-400 phoneL:hidden"
        >
          by Alysson Lemes
        </span>
      </div>

      <div class="flex mt-4 space-x-6 items-center justify-end w-44 mt-0">
        <a
          href="https://github.com/alyssonlemes"
          class="text-mainPurple"
          target="_blank"
        >
          <svg-icon
            src="assets/img/github.svg"
            [svgStyle]="{
              'width.rem': 1.5,
              'height.rem': 1.5,
              fill: '#B22222'
            }"
          ></svg-icon>
        </a>
        <a
          href="https://www.linkedin.com/in/alysson-lemes-diamantino-054093231"
          class="text-mainPurple"
          target="_blank"
        >
          <svg-icon
            src="assets/img/linkedin.svg"
            [svgStyle]="{
              'width.rem': 1.5,
              'height.rem': 1.5,
              fill: '#B22222'
            }"
          ></svg-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
