<div class="flex flex-col items-center contactContent">
  <h1 class="text-h1 font-extrabold mb-10">Contact me</h1>
  <p>Whether it's a job opportunity, an invite to coffee ☕,</p>
  <p>or feedback on my portfolio, my inbox is open 😁!</p>
  <div class="flex justify-center items-center w-screen mt-10">
    <a href="mailto: contact@julien-theme.dev" target="_blank">
      <button type="button" class="rounded-lg border-2 border-mainPurple hover:bg-mainPurple w-36 h-14 select-none">
        ✉️ Send Email
      </button>
    </a>
  </div>
</div>
