<div class="burger-menu flex flex-col justify-center text-h1">
  <div class="my-6">
    <a routerLink="/home" class="hover:text-mainPurple is-active">
      <p class="flex flex-col justify-center items-center select-none">Home</p>
    </a>
  </div>
  <div class="my-6">
    <a routerLink="/about" class="hover:text-mainPurple is-active">
      <p class="flex flex-col justify-center items-center select-none">About</p>
    </a>
  </div>
  <div class="my-6">
    <a routerLink="/work" class="hover:text-mainPurple">
      <p class="flex flex-col justify-center items-center select-none">Work</p>
    </a>
  </div>
  <div class="flex flex-col justify-center items-center">
    <app-dark-mode-toggle-button></app-dark-mode-toggle-button>
  </div>
</div>
