<div mt-40 class="mt-40 phone:text-center">
  <div
    class="flex phone:justify-around phone:flex-col-reverse tablet:flex-row phone:items-center"
  >
    <div class="tablet:ml-24 phone:mt-14">
      <img
      src="../assets/img/profilPicture.jpeg"
      alt="profilPicture.jpg"
      class="max-w-96 max-h-96 phoneL:h-80 phone:h-72"
      style="border: 5px solid #B22222"  
  />
  
    </div>
    <div
      class="phone:text-h2 phoneL:text-h1 tablet:mr-24 phone:mx-2 phoneL:mx-0 font-bold"
    >
      <p class="mt-10">Hi, welcome to my portfolio.</p>
      <p class="mt-10">I'm Alysson a Brazilian developer.</p>
      <p class="mt-10">I'm {{ age }} years-old.</p>
    </div>
  </div>
  <div
    class="flex phone:justify-around phone:flex-col tablet:flex-row tablet:mb-56 phone:items-center"
  >
    <div
      class="phone:text-h2 phoneL:text-h1 tablet:ml-24 font-bold max-w-[50rem] phone:mx-2 phoneL:mx-0"
    >
      <p class="mt-10">
        I am a student passionate about technology, currently looking for a job and open to brand-new opportunities. My goal is to work as a software developer, leveraging my enthusiasm and skills to contribute to innovative projects and solutions.
    </div>
    <div
      class="earth phoneL:h-124 phoneL:w-124 phone:w-96 phone:h-96 tablet:mr-24 phone:mt-14"
    >
      <app-earth
        class="flex items-center justify-center phoneL:mt-24"
      ></app-earth>
    </div>
  </div>
</div>
